*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}
body{
    background-color: #040404;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}
.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 930px;
}
.img-box{
    background-image: url(../assets/code-img-bckgrnd-v2.png);
    width: 40%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}

.img-box img{
    width: 100%;
}
.form-box{
    background-color: #111111;
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 60%;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    color: #F4F4F4;
    font-size: 2rem;
}
.form-box p{
    font-weight: bold;
    color: #6E6E6E;
}
.form-box p a{
    color: #3AA40C;
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #F4F4F4;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: #232323;
    border-radius: 5px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 0.8rem;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: #232323;
    background-color: transparent;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background: #3AA40C;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
}

form .input-group button:hover,
form .input-group button:active
{
    background-color: transparent;
    border: 2px solid #3AA40C;
    color: #3AA40C;
    transform: scale(1.01);
}

.btn-criarconta button:active {
    opacity: .5;
}

@media (max-width:930px) {
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}

select {
    width: 100%;
    height: 47px;
    background-color: #232323;
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 0.8rem;
    color: #616161;
    transition: all 0.4s ease;
}

select:focus{
    border-color: #232323;
    background-color: transparent;
    
}

option{
    color: #F4F4F4;
    background-color: #111111;
}