/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

body{
    background-color: #040404;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex; 
}

h2.titulo{
    color:#f4f4f4;
    font-size: 30px;
    text-align: center;
}

/* APRESENTAÇÃO CURSO */

section.topo-do-site{
    background-color: #ff0000;
}