/* GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
}

body{
    background-color: #040404;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    gap: 60px;
}

h2.titulo{
    color:#f4f4f4;
    font-size: 30px;
    text-align: center;
}

section{
    padding: 3.7rem 0;
}

/* HEADER */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #696969;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover{
    color: #f4f4f4;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header nav .selecionado a{
    color: #3AA40C;
    font-weight: 700;
}

header .btn-login button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: #3AA40C;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

header .btn-login button:hover{
    box-shadow: 0px 0px 3px #3aa40c4c;
    transform: scale(1.05);
}

/* SOBRE */
section.sobre{
    padding: 40px 4%;
}

.txt-sobre{
    color: #f4f4f4;
    font-size: 28px;
}

.txt-sobre h2{
    color: #3AA40C;
    margin-bottom: 20px;
}

.txt-sobre span{
    color: #f4f4f4;
font-weight: 700;
}

/*NÚMEROS*/

section.numeros{
    background-color: #3AA40C;
    color: #f4f4f4;
}

.numeros .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.numeros .numeros-codedev{
        display: flex;
    align-items: center;
    justify-content: space-between;
}

.numeros .numeros-codedev p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}

.numeros .numeros-codedev p span{
    font-size: 30px;
    font-weight: 600;
}


/* FOOTER */

footer{
    padding: 70px 4%;
}

footer .flex{
    justify-content: space-between;
}

footer .btn-social button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: #101010;
    color: #f4f4f4;
    font-size: 15px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

footer .btn-social button:hover{
    background-color: #3AA40C;
    color: #101010;
    transform: scale(1.05);
}